@import "variables";

.header {
  display: flex;
  padding: 17px 97px 15px $padding-left;
  justify-content: space-between;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);

  max-width: 1024px;
  margin: 0 auto;

  * {
    box-sizing: border-box;
  }
  &__logo {
    width: 120px;
    display: flex;

    img {
      max-width: 100%;
    }
  }

  &__location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 389px;

    font-size: 16px;

    &-time {
      width: 65px;
      height: 40px;
      text-align: center;

    }

    &-text {
      align-self: center;
      font-weight: 300;
      line-height: 19px;
      color: $grey-text;
    }

    &-place {
      display: flex;
      align-items: center;
      border: 1px solid $border-color;
      border-radius: 2px;
      width: 292px;
      height: 40px;
    }

    &-icon {
      width: 12px;
      height: 14.79px;
      margin: 0 12px;
    }

    &-address {
      line-height: 24px;
      border: none;
    }
  }

  &__account {
    display: flex;
    justify-content: space-between;
    width: 221px;

    &-sign, &-register {
      width: 80px;
      height: 40px;
      font-weight: 500;
      font-size: 13px;
    }

    &-basket {
      display: flex;
    }
  }
}


