$padding-left: 81px;
$padding-right: 87px;
$padding-bottom: 40px;
$black-text: #1d1d1d;
$white-text: #fff;
$grey-text: #626262;
$border-color: #e0e0e0;
$link-hover-color: #262626;
$footer:#262626;
$footer-color: #fff;
$footer-border-row: rgba(255,255,255, 0.4);
$green: #49A144;
$arrow-top-color: #59BD5A;
$padding-resize: 8px;
$item-background-hover: rgba(117, 117, 117, 0.04);
