body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

input:focus, label:focus, a:focus {
  outline: none;
}

header {
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
}

.header {
  display: flex;
  padding: 17px 97px 15px 81px;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
.header * {
  box-sizing: border-box;
}
.header__logo {
  width: 120px;
  display: flex;
}
.header__logo img {
  max-width: 100%;
}
.header__location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 389px;
  font-size: 16px;
}
.header__location-time {
  width: 65px;
  height: 40px;
  text-align: center;
}
.header__location-text {
  align-self: center;
  font-weight: 300;
  line-height: 19px;
  color: #626262;
}
.header__location-place {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  width: 292px;
  height: 40px;
}
.header__location-icon {
  width: 12px;
  height: 14.79px;
  margin: 0 12px;
}
.header__location-address {
  line-height: 24px;
  border: none;
}
.header__account {
  display: flex;
  justify-content: space-between;
  width: 221px;
}
.header__account-sign, .header__account-register {
  width: 80px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
}
.header__account-basket {
  display: flex;
}

.link-button {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #1d1d1d;
  line-height: 40px;
  text-align: center;
}
.link-button:hover {
  color: #fff;
  background-color: #262626;
}

.main-container {
  padding: 40px 87px 80px 81px;
  max-width: 1024px;
  margin: 0 auto;
}

.main__location {
  display: none;
}

.main__restaurants-city {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 16px;
  padding: 0;
}

.main__search {
  margin-bottom: 56px;
  border-bottom: 1px solid #757575;
}
.main__search-form {
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.3;
  display: flex;
  height: 39px;
  align-items: center;
}
.main__search-icon {
  width: 22px;
  margin-right: 8px;
}
.main__search label {
  width: 100%;
}
.main__search-input {
  border: 0;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}
.main__search-input:focus {
  outline: none;
}

.main-container {
  padding: 40px 87px 80px 81px;
  max-width: 1024px;
  margin: 0 auto;
}

.main__location {
  display: none;
}

.main__restaurants-city {
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0 0 16px;
  padding: 0;
}

.main__restaurants-list {
  display: grid;
  grid: auto-flow/repeat(3, 1fr);
  grid-gap: 16px 11px;
}

.main__item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  line-height: 21px;
  color: #1d1d1d;
}
.main__item-images {
  margin-bottom: 16px;
}
.main__item-images img {
  -webkit-transition: all 1s ease-out;
  width: 100%;
}
.main__item-images img:hover {
  -webkit-transform: scale(0.95);
  opacity: 0.8;
}
.main__item-name {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}
.main__item-type {
  color: #626262;
  font-size: 14px;
  margin-bottom: 4px;
}
.main__item-time {
  font-size: 13px;
}
.main__item:hover {
  background-color: rgba(117, 117, 117, 0.04);
}

footer {
  background-color: #262626;
}

footer a {
  width: max-content;
}

.footer {
  margin: 0 auto;
  max-width: 1024px;
  padding: 56px 87px 40px 81px;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  position: relative;
}
.footer__link {
  color: #fff;
  font-size: 13px;
  line-height: 15px;
}
.footer__link:hover {
  color: #49A144;
}
.footer__row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 40px;
  margin-bottom: 32px;
}
.footer__logo {
  width: 147px;
}
.footer__logo img {
  width: auto;
  max-width: 100%;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav-contacts {
  width: 38%;
}
.footer__nav-language {
  width: 227px;
  position: relative;
  cursor: pointer;
  margin-bottom: 33px;
}
.footer__nav-language::before {
  content: "";
  display: block;
  position: absolute;
  background: url(./images/icons/world.svg) center no-repeat;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 16px;
}
.footer__nav-language::after {
  content: "";
  display: block;
  position: absolute;
  background: url(./images/icons/arrow-back.svg) center no-repeat;
  width: 14px;
  height: 8px;
  top: 16px;
  right: 8px;
  cursor: pointer;
}
.footer__nav-language-select {
  width: 227px;
  height: 40px;
  background: #3b3b3b;
  border: 0;
  border-radius: 2px;
  padding: 0 48px;
  color: #fff;
  text-transform: uppercase;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 40px;
}
.footer__nav-social {
  display: flex;
  flex-direction: column;
}
.footer__nav-social-hashtag-name {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}
.footer__nav-social--hash {
  color: #49A144;
}
.footer__nav-social-network {
  display: flex;
  justify-content: space-between;
  width: 92px;
}
.footer__nav-social--link {
  width: 24px;
}
.footer__nav-social--link img {
  width: auto;
  max-width: 100%;
}
.footer__nav-pages {
  width: 38%;
}
.footer__nav-block {
  display: flex;
  flex-direction: column;
}
.footer__nav-block-link {
  margin-bottom: 23px;
}
.footer__nav-block-link:last-child {
  margin-bottom: 8px;
}
.footer__nav-inform {
  width: 24%;
}
.footer__applications {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}
.footer__applications--link {
  margin: 0 20px;
}
.footer__rights-page {
  display: flex;
  justify-content: space-between;
}
.footer__rights-page--item {
  width: 38%;
}
.footer__rights-page--last {
  width: 24%;
}
.footer__arrow-to-top {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 80px;
  background: #59BD5A;
  border-radius: 2px;
  position: fixed;
  bottom: 24px;
  right: 16px;
  opacity: 0.6;
}
.footer__arrow-to-top:hover {
  background: #59BD5A;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .header {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
  }
  .header__logo {
    width: 106px;
  }
  .header__location {
    width: 304px;
    font-size: 13px;
    line-height: 15px;
  }
  .header__location-time {
    width: 57px;
  }
  .header__location-place {
    width: 215px;
  }

  .main-container, .footer {
    padding-left: 8px;
    padding-right: 8px;
  }

  .main__restaurants-list {
    grid: auto-flow/repeat(2, 1fr);
  }
}
@media screen and (max-width: 639px) {
  .header__location {
    display: none;
  }

  .header__account {
    width: 156px;
  }
  .header__account-sign, .header__account-register {
    width: 72px;
    font-size: 11px;
  }
  .header__account-basket {
    display: none;
  }

  .main__location {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 40px;
  }
  .main__location-item {
    display: flex;
    flex-direction: column;
  }
  .main__location-text {
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
  }
  .main__location-time {
    width: 65px;
  }
  .main__location-place {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    min-width: 227px;
    height: 40px;
  }
  .main__location-icon {
    margin: 0 12px;
  }
  .main__location-address {
    border: none;
  }

  .main__restaurants-list {
    grid: auto-flow/repeat(1, 1fr);
  }

  .footer__nav {
    flex-direction: column;
  }
  .footer__nav-social-network {
    margin-bottom: 42px;
  }
  .footer__nav-pages, .footer__nav-inform {
    width: 100%;
  }
  .footer__nav-block-link:last-child {
    margin-bottom: 23px;
  }
  .footer__applications--link {
    margin: 0 12px;
  }
  .footer__rights-page {
    flex-direction: column;
  }
  .footer__rights-page * {
    margin-bottom: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
